{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='catalog.css') }}">
{% endblock %}
{% block title %}Каталог{% endblock %}

{% block content %}

<div class="product-grid">
  {% for item in items %}
    <div class="product-item">

      <div class="image-wrapper">
        <a href="/product/{{ item.id }}">
          <img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.name }}">
        </a>
        <button class="fav-icon"></button>
      </div>

      <div class="product-info">
  <p class="product-name">{{ item.name }}</p>
  <p class="product-price">{{ item.price }} ₴</p>

  <button
  class="add-to-cart-btn"
  data-id="{{ item.id }}"
  type="button"
>
  до кошика
</button>
</form>
</div>
    </div>
  {% endfor %}
</div>

{% endblock %}
